.bg-workshop {
    background-image: url("../assets/images/hangar.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#assemble-units-left {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-left: 15px;
    margin-top: 110px;
}

#assemble-units-center {
    flex: 12 1 auto;
    background-image: url("../assets/images/mech-bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 42px;
}

#assemble-units-right {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 110px;
    margin-bottom: 42px;
    margin-right: 15px;
}

#inventory-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
    max-width: 300px;
}

#active-component-stats-container {
    color: #2aaae5;
}

.inventory-component {
    /*flex: 1 1 0;*/
    border: 3px solid #2aaae5;
    color: #2aaae5;
    font-weight: bold;
    text-align: center;

    width: 60px;
    height: 60px;
    margin: 3px;
    background-color: rgba(25, 45, 81, .7);
}

.inventory-component-icon {
    background-image: url("../assets/images/hammer-fist.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#assemble-units {
    display: flex;
    flex: 1;
    height: 100%;
}

#inventory {
    background-image: url("../assets/images/parts-inventory.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

#active-unit-stats-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    border: 3px solid #2aaae5;
    margin-top: 12px;
}

#active-unit-name {
    /*position: absolute;*/
    /*left: 3%;*/
    /*bottom: 40px;*/
    color: #2aaae5;
    font-weight: bold;
    font-size: larger;
    margin-left: 6px;
}
