.bg-build {
    background-image: url("../assets/images/build-bg.jpg");
}

#assemble-units-inner-container {
    background-image: url("../assets/images/assemble-active-unit-bg.png");
}

#inventory-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
    max-width: 300px;
}

#active-component-stats-container {
    color: #A0522D;
}

.inventory-component {
    /*flex: 1 1 0;*/
    color: white;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, .4);
}

.inventory-component-icon {
    background-image: url("../../../assets/images/hammer-fist.png");
}

#assemble-units {
    display: flex;
    flex: 1;
    height: 100%;
}

#inventory {
    background-image: url("../assets/images/parts-inventory.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

#active-unit-stats-container {
    background-image: url("../assets/images/active-unit-stats-bg.png");
}

#active-unit-name {
    color: #2aaae5;
    font-weight: bold;
    margin-left: 6px;
}

.stat-container {
    margin-top: 10px;
    display: flex;
}

.stat-title {
    /*margin-top: 8px;*/
}

.stats-container-title {
    font-size: x-large;
}

.stat-indicator-outer {
    height: 18px;
    background-image: linear-gradient(to right, yellow, lime);
}

.stat-indicator-inner {
    /*background-color: #04b537;*/
    background-color: black;
    height: 100%;
    float: right;
}

.stat-left-container {
    width: 40px;
    height: 40px;
}

.stat-right-container {
    margin-left: 7px;
    width: 100%;
}

.stat-category {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.weight-indicator {
    background-image: url('../assets/images/weight.png');
}

.damage-indicator {
    background-image: url('../assets/images/damage.png');
}

.splash-damage-indicator {
    background-image: url('../assets/images/splash-damage.png');
}

.range-indicator {
    background-image: url('../assets/images/range.png');
}

.defense-indicator {
    background-image: url('../assets/images/defense.png');
}

.movement-indicator {
    background-image: url('../assets/images/movement.png');
}

#component-melee1 {
    background-image: url("../assets/images/hammer.png");
}

#component-melee2 {
    background-image: url("../assets/images/axe.png");
}

#component-melee3 {
    background-image: url("../assets/images/double-axe.png");
}

#component-melee4 {
    background-image: url("../assets/images/sword.png");
}

#component-melee5 {
    background-image: url("../assets/images/bow.png");
}

#component-melee6 {
    background-image: url("../assets/images/hammer.png");
}

#component-melee7 {
    background-image: url("../assets/images/hammer.png");
}

#component-melee8 {
    background-image: url("../assets/images/hammer.png");
}
