html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
    font-family: Courier New;
}

#main-wrapper {
    height: 100%;
    min-height: 100%;
}

#header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    padding: 12px 12px 0 12px;
    /*background-color: rgba(0,0,0,0.35);*/
    z-index: 100;
}

#main-content {
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 100%;
}

#footer {
    /*height: 65px;*/
    padding: 0 12px 10px 12px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.grid-container {
    display: grid;
}

.grid-container div {
    border: 2px solid white;
}

#part-stats {
    background-image: url("../assets/images/stats.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

#chores {
    width: 100%;
    height: 100%;
    z-index: 2;
    /*background-image: url("../assets/images/assemble-unit.png");*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header-item {
    padding: 10px;
    margin: 0 4px;
    background-position-x: center;
    flex: 0 0 54px;
    text-align: center;
}

.coin-div {
    padding: 10px;
    color: #2aaae5;
    margin: 0 4px;
}

#stats-container {
    font-weight: bold;
    text-align: right;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#progress-correct-outer {
    /*position: absolute;*/
    /*left: 3%;*/
    /*right: 3%;*/
    /*bottom: 40px;*/
    /*width: 95%;*/
    margin: 0 auto;
    background-color: #252525;
    border-radius: 12px;
    font-weight: bold;
}

#progress-correct-inner-label {
    display: inline-block;
    background-color: #2aaae5;
    margin: 4px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: larger;
    font-weight: bold;
    color: #252525;
    width: 100px;
    padding-left: 10px;
}

#progress-correct-inner {
    display: inline-block;
    background-color: #2aaae5;
    margin: 4px 4px 4px 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: larger;
    color: #252525;
    font-weight: bold;
    text-align: right;
    min-width: 40px;
}

#progress-complete-outer {
    /*position: absolute;*/
    /*left: 3%;*/
    /*right: 3%;*/
    /*bottom: 5px;*/
    /*width: 95%;*/
    color: #e9ce9a;
    margin: 0 auto;
    background-color: #252525;
    border-radius: 12px;
    font-weight: bold;
}

#progress-complete-inner-label {
    display: inline-block;
    background-color: #2aaae5;
    margin: 4px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: larger;
    font-weight: bold;
    color: #252525;
    width: 100px;
    padding-left: 10px;
}

#progress-complete-inner {
    display: inline-block;
    background-color: #2aaae5;
    margin: 4px 4px 4px 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: larger;
    text-align: right;
    color: #252525;
    min-width: 40px;
}

#currency-value-container {
    display: flex;
}

#currency-value {
    font-size: 48px;
}

#level-container {
    display: flex;
}

#level-value {
    margin-left: 8px;
    font-size: 48px;
}

#xp {
    text-align: right;
    font-size: x-large;
    border: 3px solid #2aaae5;
    padding: 8px;
}

#time-container {
    flex: 1;
}

#time-value {
    color: #2aaae5;
    text-align: center;
    font-size: x-large;
}

#chore-item-available-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.chore-item-text {
    flex: 1;
}

.chore-item-value {
    border-radius: 30px;
    background-color: #fac04e;
    border: 4px solid #ae4b25;
    color: #ae4b25;
    padding: 8px;
    font-weight: bold;
}

.container {
    border-radius: 6px;
}

.currency-value {
    border-radius: 50px;
    background-color: #fac04e;
    border: 4px solid #ae4b25;
    color: #ae4b25;
    padding: 8px;
    font-weight: bold;
}

.xp-containter {
    padding: 0 10px 10px;
    color: #2aaae5;
    margin: 0 4px;
}

.xp-value {
    color: #f5f5f5;
    font-family: Tahoma;
    margin-top: 5px;
    height: 25px;
    text-align: center;
    font-size: 29px;
    text-shadow: 0px 2px #737373;
}

.xp-string {
    color: #f5f5f5;
    font-family: Arial;
    height: 25px;
    text-align: center;
    font-size: 25px;
}

.xp-icon {
    background-image: url("../assets/images/xp.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
    width: 90px;
}